body{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   /* color: #545b64; */
}
header{
    background-color: #232f3e;
    height: 6vh;
    color: whitesmoke;
    display: flex;
}
header h3{
    text-align: center;
}
.header-title{
    padding-left: 39%;
}
.header-contact{
    padding-top: 12px;
    padding-left: 30%;
}
header a{
    text-decoration: none;
    color: whitesmoke;
    padding-right: 45px;
    font-size: 20px;
}
header a:hover{
    color:#ec7211;
}
main{
    margin-left: 160px;
    padding: 25px;
    height: 695px;
    overflow: auto;
}
nav{
    float:left;
    width: 150px;
    padding: 10px;
    position: fixed;
    border:1px solid #545b64;
    height: 720px;
}
ul li{
    list-style: none;
    font-family: Verdana, Arial, sans-serif;
    margin-top: 10px;
}
li a{
    color: #545b64;
    text-decoration: none;
}
li a:hover{
    color: #ec7211;
}
footer{
    text-align: center;
    font-style:italic;
    background-color: #232f3e;
    color: whitesmoke;
    height: 3vh;
}
.column{
    float: left;
    width: 33%;
    margin: 10px;
  }
  #card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
  }
  #card img 
  {
     width:100%;
     height: 250px;
  }
  #card img:hover
  {
    opacity: 0.4;
    background: #345;
  }
  .card-img{
    width: 25%;
  }
  .certname{
    color: #ec7211;
  }
  form input,textarea{
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #345;
    border-radius: 3px;
  }
  textarea{
    width: 600px;
  }
  .right-panel h3{
    padding-left:10px;
  }
  .btn-submit{
    background-color: #ec7211;
    color: whitesmoke;
    font-weight: bold;
    border: 2px solid #ed6c03;
  }
  .btn-submit:hover{
    opacity: 0.8;
    background: #ec7211;
  }