body{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   /* color: #545b64; */
   margin: 0;
}
header{
    background-color: #232f3e;
    height: 10vh;
    color: whitesmoke;
    display: flex;
}
header h3{
    text-align: center;
}
.header-title{
    padding-top: 10px;
    padding-left: 37%;
}
.header-contact{
    padding-top: 20px;
    padding-left: 20%;
}
header a{
    text-decoration: none;
    color: whitesmoke;
    padding-right: 45px;
    font-size: 20px;
}
header a:hover{
    color:#ec7211;
}
main{
    margin-left: 160px;
    padding: 25px;
    height: 640px;
    overflow: auto;
}
nav{
    float:left;
    width: 150px;
    padding: 15px;
    position: fixed;
    border:1px solid #545b64;
    height: 659px;
}
nav ul{
    padding: 0;
}
ul li{
    list-style: none;
    font-family: Verdana, Arial, sans-serif;
    margin-top: 10px;
}
nav a{
    color: #545b64;
    text-decoration: none;
}
nav a:hover,li:hover{
    background-color: #ec7211;
    color: whitesmoke;
}
footer{
    text-align: center;
    font-style:italic;
    background-color: #232f3e;
    color: whitesmoke;
    height: 4vh;
    padding-top: 5px;
}
.column{
    float: left;
    width: 33%;
    margin: 10px;
  }
  #card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
  }
  #card img 
  {
     width:80%;
     height: 200px;
  }
  #card img:hover
  {
    opacity: 0.4;
    background: #345;
  }
  .card-img{
    width: 25%;
  }
  .certname{
    color: #ec7211;
  }
  form input,textarea{
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #345;
    border-radius: 3px;
  }
  textarea{
    width: 450px;
  }
  .right-panel h3{
    padding-left:10px;
  }
  .btn-submit{
    background-color: #ec7211;
    color: whitesmoke;
    font-weight: bold;
    border: 2px solid #ed6c03;
  }
  .btn-submit:hover{
    opacity: 0.8;
    background: #ec7211;
  }
  main p{
    padding-left: 25px;
    padding-right: 30%;
    font-size: 20px;
    color: #545b64;
  }
  main h1{
    padding-left: 25px;
    padding-right: 20%;
  }
  .profilepic{
    margin-top: -135px;
    float: right; 
    margin-right: 25px;
    width: 125px;
    border:2px solid #545b64;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .linkedin{
    clear: right;
  }
  .edu b,i{
    padding: 5px;
  }
  h2{
    padding-left: 10px;
  }
  table{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 25px;
  }
  table,tr,td{
    border: 2px solid #ec7211;
    border-collapse: collapse;
  }
  .colskills{
    padding: 10px;
    color: #545b64;
  }
  main form{
    padding-left:25px;
  }
  .home h1,b{
    padding-left:25px;
    color: #545b64;
  }
  .intro{
    color: #545b64;
  }
 h1:hover{
    color:#ec7211;
 }
 .btn-contact{
    height: 40px;
    width: 125px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ec7211;
    color: whitesmoke;
 }
 .btn-contact:hover{
    opacity: 0.8;
    background: #ec7211;
  }
  /*media queries css*/

/* On screens that are 768px or less */
@media screen and (max-width: 768px) {
    header{
        font-size: 11px;
    }
    .left-panel{
      width: 20%;
    }
    .right-panel{
      width: 80%;
      height: 200vh;
    }
    #card img{
      width: 100%;
      height: 120px;
    }
    .profilepic{
        float:right;
    }
    textarea{
        width: 400px;
        height: 50px;
    }
    .column{
        width: 38%;
    }
  }
  @media (orientation:portrait) and (max-width:360px){
    .header-title{
        padding-left: 5px;
    }
    header h3{
        text-align: left;
    }
    .left-panel{
      width: 100%;
      clear: left;
      height: auto;
      padding: 9px;
      position: relative;
    }
    nav ul{
        margin:5px;
    }
    .right-panel{
      width: 100%;
      height: 400vh;
    }
    main{
        margin-left: 5px;
    }
    textarea{
        width: 200px;
    }
    #card img{
        width: 100%;
        height: 120px;
    }
      .profilepic{
        display: none;
      }
  }