body{
    background-color: black;
    color: white;
}
main{
    margin-left: 160px;
    padding: 10px;
    height: 710px;
    overflow: auto;
}
nav{
    float:left;
    width: 150px;
    padding: 10px;
    position: fixed;
}
ul li{
    list-style: none;
    font-family: Verdana, Arial, sans-serif;
    margin-top: 10px;
}
li a{
    color: skyblue;
}
li a:hover{
    color: bisque;
}
li a:visited{
    color: darkorchid;
}
footer{
    text-align: center;
    font-style:italic;
    background-color: #0095ff;
    padding: 2px;
}
footer p{
    text-align: center;
    color: black;
}
.column{
    float: left;
    width: 33%;
  }
  #card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
  }
  #card img 
  {
     width:100%;
     height: 250px;
  }
  #card img:hover
  {
    opacity: 0.4;
    background: #345;
  }
  .card-img{
    width: 25%;
  }
  .certname{
    color: peru;
  }