@import 'variables';
.btn-register{
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    height: 30px;
    &:hover{
        box-shadow: 2px 2px rgb(114, 121, 152);
    }
}
.btn-activation{
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    height: 30px;
    margin-left: 5px;
    &:hover{
        box-shadow: 2px 2px rgb(114, 121, 152);
    }
}
.btn-mode{
    margin:25px;
    margin-left:25%;
    background-color: $secondary-color;
    color: white;
    font-weight: bold;
    height: 30px;
    &:hover{
        box-shadow: 2px 2px rgb(170, 179, 224);
    }
}    