@media (max-width:991px) {
    html {
       font-size: 55%;
       scroll-padding-top: 8rem;
    }
    .galler-container h2{
       font-size: 4rem;
    }
 }
 
 @media (max-width:768px) {
       h2 {
          font-size: 1.7rem;
       }
    .header {
       padding: 2rem 2rem;
       }
 }
 
 @media (max-width:450px) {
    html {
       font-size: 50%;
    }
 }